---
layout: page
title: Tales
permalink: /tales/
---

<section class="list">
    {% if site.tales.size == 0 %}
        <p class="text-center">Nothing published yet!</p>
    {% else %}
        {% for tale in site.tales %}
            <div class="item">
                <a href="{{ site.baseurl }}{{ tale.url }}">
                    <h2>{{ tale.title }}</h2>
                </a>
                <span class="date">{{ tale.date | date: "%B %d, %Y" }}</span>
            </div>
        {% endfor %}
    {% endif %}
</section>
