<div class="item">
    <a href="{{ site.baseurl }}{{ tale.url }}">
        <h2>{{ tale.title }}</h2>
    </a>
    <span class="date">{{ tale.date | date: "%B %d, %Y" }}</span>
</div>


{% if tale.tale == true %}
{% if tale.draft == false %}
    <div class="item {% if tale.star %}star{% endif %}">
        <a class="url" href="{{ site.url }}{{ tale.url }}">
            <aside class="date"><time datetime="{{ tale.date | date:"%d-%m-%Y" }}">{{ tale.date | date: "%b %d %Y" }}</time></aside>
            <h3 class="title">{{ tale.title }}</h3>
        </a>
    </div>
{% endif %}
{% endif %}
